@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgba(229, 229, 251, 0.957);
}

.image-section img {
  width: 100vw;
  object-fit: cover;
  height: 100vh;
}

.cart-heading {
  padding-top: 9rem;
  margin-left: 1rem;
}

.images {
  position: absolute;
  margin-top: 6rem;
  height: 100vh;
  top: 0rem;
}


hr {
  margin-top: 1rem;
}

.navbar {
  background-color: rgb(2, 17, 45);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 100px;
}

.header {
  font-weight: 700;
  font-size: 1.9rem;
}

li {
  display: inline-block;
  list-style-type: none;
}

.nav-links {
  display: flex;
  gap: 7vmin;
}

a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.main-card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 8rem;
  margin-bottom: 1rem;
}

.card-container {
  box-shadow: 0 0 7px 0 black;
  width: 34vmin;
  padding: 1rem;
  border-radius: 0.2rem;
}

.image img {
  width: 26vmin;
  height: 30vmin;
}

.rate {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5rem;
}

.category {
  font-size: 2.7vmin;
  font-weight: 700;
}

.title {
  font-size: 2vmin;
  margin-top: 0.5rem;
  height: 4rem;
}

.price,
.rating {
  font-size: 2.2vmin;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.cart-btn {
  padding: 0.1rem 1rem;
  background-color: rgb(79, 79, 238);
  color: white;
  border: none;
  border-radius: 0.1rem;
}

.buy-btn {
  padding: 0.1rem 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 0.1rem;
}

.laptop {
  width: 30vmin;
}

.cart-layout {
  margin-top: 1rem;
  display: flex;
  margin-left: 2rem;
  width: 32rem;
}

.total-price {
  font-size: 1.3rem;
  font-weight: 600;
}

.total {
  display: flex;
  justify-content: space-between;
}

.add-delete-items {
  display: flex;
  gap: 1rem;
  width: 3rem;
  align-items: center;
  margin-top: 0.3 rem;
}

.number-of-items {
  width: 10rem;
}

.item-layout {
  text-align: center;
}

.cart-section {
  display: flex;
  margin: 1rem 2rem;
  justify-content: space-between;
}

.item-details {
  display: flex;
  gap: 10rem;
  margin-top: 0.5rem;
}

.heading-price {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.number-of-items {
  font-size: 1.1rem;
}

.cost-item,
.total-amount {
  font-size: 1.1rem;
}

.minus,
.add {
  border: none;
  background-color: transparent;
}

.add,
.minus {
  font-size: 1.5rem;
}

.cart-title {
  font-size: 2rem;
  font-weight: 600;
}

.main-info {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.cart-item-catagory {
  font-size: 1rem;
  margin-top: 0.2rem;
}

.item-price {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.remove-btn {
  padding: 0.2rem 1rem;
  background-color: transparent;
  border: none;
  background-color: red;
  border-radius: 0.2rem;
  color: white;
}

.add-cart-number {
  background-color: red;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.6rem;
  position: absolute;
  top: -9px;
  left: 57px;
}

.cart-link {
  position: relative;
}

.text-message {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}



@media (min-width: 300px) and (max-width: 1000px) {
  .cart-section {
    display: inline-block;
  }

  .cart-heading {
    width: 100%;
    text-align: center;
    font-size: 7vmin;
  }

  .item-details {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-between;
  }

  .price-section {
    margin: 3rem 1.2rem;
  }

  .navbar {
    display: block;
    padding: 1rem;
    height: 136px;
  }

  .header {
    text-align: center;
    font-size: 8vmin;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
    padding: 0rem;
  }

  .card-container {
    width: 41vmin;
  }

  .main-card {
    padding-top: 9rem;
  }

}

@media (min-width: 1000px) and (max-width: 1400px) {
  .navbar {
    padding: 2rem;
  }
}
